@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --color-background: #19191D;
    --color-background-secondary: #1E1E21;
    --color-red: #F32F2F;
    --color-blue: #1B688D;
    --color-regular-text: #ABB2BF;
    --color-stroke: #424242;
    --color-footer: #141417;
    --font-fira-code: 'Fira Code', monospace;
}

@layer base {
    body {
        background-color: var(--color-background);
        font-family: var(--font-fira-code);
    }
}